.layout-index
  position absolute
  top 0
  left 0
  right 0
  bottom 0
  background-color #fff
  color #333
  font-weight 200
  overflow-x hidden

  a
    color #333
    text-decoration none


  .block
    display block
    position relative
    box-sizing border-box

    h2
      font-weight 200
      font-size 39px
      line-height 1.2
      margin 0
      margin-top 0.2em
      margin-bottom 0.8em

    .half
      vertical-middle()

  .meta
    font-size 0.75em
    margin-top 50px
    h3
      margin 0
      margin-top 1.0em
      margin-bottom 0.2em
      font-weight 400
      font-size 16px
    ul
      list-style none
      margin 0
      padding 0
      li
        display inline-block
        &:after
          content '/'
          margin-left 0.2em
          margin-right 0.2em
          color #aaa
        &:last-child:after
          content ''

  .block__profile
    background-color #fff
    &__meta
      z-index 3
      left 0
      right 0
      margin-left 5%
      margin-right 5%
      text-align center
      &__position
        font-size 18px
      &__name
        font-size 64px
        line-height 1
        margin-top 0.15em
        margin-bottom 0.3em
      &__ruby
        display inline-block
        font-size 16px
        width 500px
        color #fff
        background-color #333
        padding 5px
        letter-spacing 5px
      &__sns
        font-size 24px
        margin-top 1.0em
        margin-bottom 2em
        ul
          list-style none
          margin 0
          padding 0
          text-align center
          li
            display inline-block
            margin-right 1em
            i
              font-size 1.5em
              margin-right 0.1em
    &__guard
      position absolute
      top 0
      left 0
      right 0
      bottom 0
      z-index 2
    &__skillcloud
      position absolute
      top 0
      left 0
      right 0
      bottom 0
      z-index 1
      opacity 0.3
      svg
        g
          circle
            opacity 1
          text
            fill #000
          &.active
            circle
              opacity 0.2
          &.root
            circle
              opacity 0.3
        line
          stroke #f77
          stroke-width 1
          opacity 0.3

  .block__index
    background-color #f5f5f5
    &__anchor
      left 0
      right 50%
      margin-left 5%
      margin-right 5%
      h2
        margin-top 2.5em
        margin-bottom 1em
        font-size 32px
      ul
        list-style none
        margin 0
        padding 0
        li
          display block
          margin-bottom 0.5em
          a
            font-size 1.1em
    &__technology
      left 50%
      right 0
      margin-left 5%
      margin-right 5%
      h2
        font-size 32px
      &__text
        text-align center
      &__logo
        margin-top 75px
        ul
          display inline-block
          text-align center
          list-style none
          margin 0
          padding 0
          li
            display inline-block
            width 50%
            text-align center
            margin-bottom 50px
            img
              width 80%

  .block__tachiyomi
    background-color #fff
    &__text
      left 0
      right 55%
      margin-left 5%
      margin-right 5%
      span
        color #666
        font-size 0.9em
    &__image
      right -20px
      left 45%
      img.display
        width 100%
      img.anime
        position absolute
        top 11%
        left 12%
        width 76%

  .block__search
    background-color #f5f5f5
    &__text
      left 55%
      right 0
      margin-left 5%
      margin-right 5%
    &__image
      left 30px
      right 50%
      img.display
        width 100%
      img.anime
        position absolute
        top 4.5%
        left 4%
        width 92%

  .block__fullstack
    background-color #fff
    &__text
      left 0
      right 52%
      margin-left 5%
      margin-right 5%
      span
        color #666
        font-size 0.9em
    &__image
      right 10px
      left 52%
      img
        width 100%

  .block__automation
    background-color #f5f5f5
    &__text
      left 50%
      right 0
      margin-left 5%
      margin-right 5%
    &__image
      left 0
      right 50%
      text-align center
      img
        width 80%

  .block__cloud
    display block


@media (max-width: 900px)

  .layout-index

    .block
      padding 50px 30px
      min-height auto

      .half
        position static
        transform translate(0, 0)
        margin 50px 0
