.layout-index
  position absolute
  top 0
  left 0
  right 0
  bottom 0
  background-color #fff
  color #333
  font-weight 200
  overflow-x hidden

  a
    color #333
    text-decoration none


  .block
    display block
    position relative
    box-sizing border-box

    h2
      font-weight 200
      font-size 39px
      line-height 1.2
      margin 0
      margin-top 0.2em
      margin-bottom 0.8em

    .half
      vertical-middle()
      box-sizing border-box
      padding 50px 0
      & > strong
        font-weight 100
        display block

  .meta
    font-size 0.75em
    margin-top 50px
    h3
      margin 0
      margin-top 1.0em
      margin-bottom 0.2em
      font-weight 400
      font-size 16px
    ul
      list-style none
      margin 0
      padding 0
      li
        display inline-block
        &:after
          content '/'
          margin-left 0.2em
          margin-right 0.2em
          color #aaa
        &:last-child:after
          content ''

  .block__profile
    background-color #fff
    &__meta
      z-index 3
      left 0
      right 0
      margin-left 5%
      margin-right 5%
      text-align center
      &__position
        font-size 18px
      &__name
        font-size 64px
        line-height 1
        margin-top 0.2em
        margin-bottom 0.3em
      &__ruby
        display inline-block
        font-size 16px
        width 500px
        color #fff
        background-color #333
        padding 5px
        letter-spacing 5px
      &__sns
        font-size 24px
        margin-top 1.0em
        margin-bottom 2em
        ul
          list-style none
          margin 0
          padding 0
          text-align center
          li
            display inline-block
            margin-right 1em
            i
              font-size 1.5em
              margin-right 0.1em
    &__guard
      position absolute
      top 0
      left 0
      right 0
      bottom 0
      z-index 2
    &__skillcloud
      position absolute
      top 0
      left 0
      right 0
      bottom 0
      z-index 1
      opacity 0
      svg
        g
          circle
            opacity 1
          text
            fill #000
          &.active
            circle
              opacity 0.2
          &.root
            circle
              opacity 0.3
        line
          stroke #f77
          stroke-width 1
          opacity 0.3

  .block__index
    background-color #f5f5f5
    &__anchor
      left 0
      right 50%
      margin-left 5%
      margin-right 5%
      h2
        margin-bottom 1.75em
      ul
        counter-reset number
        list-style none
        margin 0
        padding 0
        li
          display block
          counter-increment number
          a
            display block
            font-size 1.2em
            margin-bottom 1.0em
            h3
              font-weight 200
              font-size 1em
              margin 0
              &:before
                content counter(number)
                background #444
                float left
                margin-right 0.5em
                font-weight bold
                width 1.5em
                height 1.5em
                border-radius 50%
                color #fff
                text-align center
                line-height 1.5
            p
              margin 0
              font-size 0.8em
              color #999
    &__technology
      left 50%
      right 0
      margin-left 5%
      margin-right 5%
      h2
        font-size 26px
        font-weight 300
      &__text
        font-size 0.9em
        text-align center
      &__logo
        margin-top 30px
        ul
          display inline-block
          text-align center
          list-style none
          margin 0
          padding 0
          li
            display inline-block
            width 50%
            text-align center
            margin-top 50px
            img
              width 80%

  .block__tachiyomi
    background-color #fff
    &__text
      left 0
      right 55%
      margin-left 5%
      margin-right 5%
    &__image
      right -20px
      left 45%
      padding 0 !important // @todo deviate screen
      img.display
        width 100%
      img.anime
        position absolute
        top 11%
        left 12%
        width 76%

  .block__search
    background-color #f5f5f5
    &__text
      left 55%
      right 0
      margin-left 5%
      margin-right 5%
    &__image
      left 30px
      right 50%
      padding 0 !important // @todo deviate screen
      img.display
        width 100%
      img.anime
        position absolute
        top 4.5%
        left 4%
        width 92%

  .block__fullstack
    background-color #fff
    &__text
      left 0
      right 52%
      margin-left 5%
      margin-right 5%
    &__image
      right 10px
      left 52%
      img
        width 100%

  .block__automation
    background-color #f5f5f5
    &__text
      left 50%
      right 0
      margin-left 5%
      margin-right 5%
    &__image
      left 0
      right 50%
      text-align center
      img
        width 80%

  .block__skillcloud
    background-color #fff
    &__text
      left 0
      right 52%
      margin-left 5%
      margin-right 5%
      h2
        letter-spacing -1px
    &__image
      right 10px
      left 52%
      i.fa
        position absolute
        top 50%
        left 50%
        transform translate(-50%, -50%)
        font-size 500px
        &.fa-line-chart
          opacity 0.05
        &.fa-bar-chart
          opacity 0.25


@media (max-width: 800px), (orientation: portrait)

  .layout-index

    .block
      padding 50px 30px
      min-height auto !important

      .half
        position static
        transform translate(0, 0)
        margin 50px 0
        padding 0
        h2
          font-size 28px

    .block__index
      &__technology
        &__text
          display none

    .block__profile
      &__meta
        &__position
          display block
        &__name
          display block
          margin-top 0.1em
        &__ruby
          display block
          width auto
          letter-spacing 0px
        &__sns
          ul
            li
              font-size 0
              i
                font-size 50px
                margin-right 0.3em

    .block__skillcloud
      &__image
        display none
