.module-background
  position absolute
  top -200%
  left -200%
  right -200%
  bottom -200%
  background-image url(../assets/background.png)
  background-repeat repeat
  opacity 0.06
  transition all 1.5s ease-out
  z-index -2
