.module-comment
  position absolute
  left 0
  bottom 0
  width 30%
  margin 0.5em
  padding 1em
  color #fff
  z-index 1

  & > h3
    font-size 1.32em
    font-weight bold
    margin-top 0
    margin-bottom 0.5em
    padding-bottom 0.3em
    border-bottom 1px solid #ccc
    &:before
      content '●'
      margin-right 0.25em

  & > p
    color: #fff
    line-height 1.8
    &:after
      content 'I'
      color #6f6
      font-weight bold
      animation blink 1s step-end infinite
    p
      margin-top 0.8em
