.module-comment
  position absolute
  left 0
  bottom 0
  width 360px
  margin 0.5em
  padding 1em
  color #fff
  z-index 1
  transition all 0.5s linear

  h3
    font-size 1.32em
    font-weight bold
    margin 0
    margin-bottom 0.4em
    padding-bottom 0.3em
    border-bottom 1px solid #ccc
    &:before
      content '●'
      margin-right 0.25em

    .typing
      &:after
        content '｜'
        color #6f6
        animation blink 1s step-end infinite

  .comment
    display inline-block
    color: #fff
    line-height 1.8
    p
      display inline-block
      margin-top 0.6em
