.module-comment
  position absolute
  left 0
  bottom 0
  width 360px
  margin 0.5em
  padding 1em
  color #fff
  background-color rgba(36, 36, 36, 0.7)
  z-index 1

  h3
    font-size 1.32em
    font-weight bold
    margin 0
    margin-bottom 0.4em
    padding-bottom 0.3em
    border-bottom 1px solid #ccc
    &:before
      content '●'
      margin-right 0.25em

    .typing
      &:after
        content '｜'
        color #6f6
        animation blink 1s step-end infinite

  .comment
    display block
    color: #ccc
    line-height 1.8
    p
      display inline-block
      margin 0
      margin-top 1em
