.module-crosshair
  z-index -1

  & .line
    position absolute
    background-color red
    &.vertical
      top 0
      left 50%
      width 3px
      height 100%
    &.horizontal
      top 50%
      left 0
      width 100%
      height 3px
