.module-description
  position absolute
  top $navigation-height
  margin 1.2em
  color #999
  font-size 0.8em
  line-height 1.6
  z-index 2

  i
    font-size 1.2em
    margin-right: 0.2em

  p
    margin 0
    padding 0

  ul
    list-style none
    margin 0
    margin-top 1em
    padding 0
    li
      display inline-block
      margin-right 1em
      &:before
        content '\00bb'
        margin-right 0.5em
      a
        color #fff
        text-decoration none
