.module-navigation
  position absolute
  top 85px
  width 360px
  background-color rgba(36, 36, 36, 0.5)
  padding-top 1em
  z-index 3

  a
    dl
      display inline-block
      width 180px
      margin 0
      padding 0
      margin-bottom 1.0em
      font-size 0.9em
      dt
        display inline-block
        background-color #ddd
        color #333
        margin 0
        padding 0.3em
        transition all 0.3s linear
      dd
        display inline-block
        margin 0
        padding 0.3em
        margin-left 0.6em
        color #999
        text-decoration none
        transition color 0.2s linear

    &:hover
      dt
        background-color #fff
      dd
        color #fff

    &.active
      dt
        color #fff
        background-color #0a0
      dd
        color #fff

  .wheel
    position absolute
    top 100%
    left 0
    right 0
    height 100px
    background-color red
    z-index 4
