.module-please
  position absolute
  bottom 10px
  width 100%
  text-align center
  transition 0.5s opacity linear
  animation: pyonpyon 0.5s ease -0.5s infinite alternate;

@keyframes pyonpyon {
  0% {margin-bottom: 0px;}
  100% {margin-bottom: 15px;}
}

