.module-tagcloud
  position absolute
  top 0
  left 0
  right 0
  bottom 0
  z-index 1

  svg
    width 100%
    height 100%

    g
      cursor pointer
      user-select none

    circle
      fill-opacity .4
    text
      fill #fff
      font-size 12px
