.module-zoomslider
  position absolute
  top 300px
  left 20px
  z-index 9999

  i
    color #fff

    &.fa-search
      margin-right 0.5em
      font-size 1.4em
    &.fa-plus
      margin-left 0.5em

  input
    width 175px
