$navigation-height = 60px

$mincho-font-family = 'Hiragino Mincho Pro'
$gothic-font-family = 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', Tahoma, 'ヒラギノ角ゴ ProN W3', 'Hiragino Kaku Gothic ProN', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', sans-serif
$roman-font-family = Eau Douce,Helvetica Neue,Calibri,Emoji,sans-serif
